%p
  - if Game.maximum(:resolution_time)
    %b 
      Last game uploaded was on 
      = Game.maximum(:resolution_time).to_s(:long)
%p
  Any games or players that already exist in the DB in the uploaded files will be ignored.
%p
  It can take a long time to process the uploaded data.

%p
  Select player dump files :
  = form_tag add_players_uploaders_path, multipart: true do
    = text_field_tag "code", "", placeholder: "Enter admin code"
    = file_field_tag "file[]", multiple: true
    = submit_tag "Upload Player Dump Files"

%p
  Select game dump files :
  - if false
    %br/
    Any games more than 21 days older than the most recent game are automatically deleted after a new dump is uploaded.

  = form_tag add_games_uploaders_path, multipart: true do
    = text_field_tag "code", "", placeholder: "Enter admin code"
    = file_field_tag "file[]", multiple: true
    = submit_tag "Upload Game Dump Files"
