%div
  %table.table.table-sm.table-hover.games-table
    %thead
      %tr
        %th Time 
        %th Replay ID
        %th VS
        %th Map
        %th Elo Delta
        %th.hidden-sm-down Result
    %tbody
      - games.each do |game|
        %tr{class: (game.draw? && "table-warning" || game.winner?(main_player_id) && "" || "table-danger")}
          %td.time_td
            - if game.resolution_time.to_date == Date.today
              %b= game.resolution_time_f
            - else
              = game.resolution_time_f
          %td= game.id
          %td.player_td
            = game.opponent_name || game.opponent_id
            (#{game.opponent_elo})
          %td.mission_td= game.mission_name
          %td= game.elo_delta
          %td.hidden-sm-down
            = game.status_f(main_player_id)
