- if Game.exists?
  %p
    Data is available for games between:
    #{Game.minimum(:resolution_time).to_s(:long)}
    and
    #{Game.maximum(:resolution_time).to_s(:long)}
  
= form_for form, :as=>:form, :url=>player_charts_url, method: :get, html: {class: "form-inline"} do |f|
  = f.text_field :player_name, placeholder: "Enter player name", class: "form-control mb-2 mr-sm-2 mb-sm-0"
  = f.text_field :opponent_player_name, placeholder: "*optional opponent name..", class: "form-control mb-2 mr-sm-2 mb-sm-0"
  = f.text_field :start_date, class: "form-control mb-2 mr-sm-2 mb-sm-0"
  = f.text_field :end_date,   class: "form-control mb-2 mr-sm-2 mb-sm-0"
  = submit_tag "Show Stats", class: "btn btn-primary"

  .flexContainer.mapSelection
    %label{:style=>"font-size: 80%;"}
      = link_to "Select All", "#", onclick: "$('input.mission_select').prop('checked', true); return false;"
      &nbsp;|&nbsp;
      = link_to "Unselect All", "#", onclick: "$('input.mission_select').prop('checked', false); return false;"

    - form.available_missions.each do |mission|
      %label.map
        = check_box_tag "form[mission_ids][]", mission.id, form.mission_ids.blank? || form.mission_ids.include?(mission.id), class: "mission_select"
        &nbsp;
        = mission.name

- if form.errors.any?
  %p{:style=>"margin-top: 20px;"}
    There are issues with this form:
  %ul
    - form.errors.full_messages.each do |message|
      %li= message
