= render "fetch_button", player_name: form.player.name

.flexContainer
  .half
    = render "stacked_bar_chart", chart: player_charts.stacked_map_chart
    = render "stacked_bar_chart", chart: player_charts.stacked_map_chart_elo_delta
    .flexContainer
      - player_charts.individual_map_stats.each do |map_stat|
        .item{data: { map_chart: true,
                      title: map_stat.title,
                      win: map_stat.win,
                      lose: map_stat.lose,
                      draw: map_stat.draw }}
          &nbsp;
      :javascript
        $(function() {
          $(".item[data-map-chart]").each(function(index) {
            var div = $(this);
            createMapChart(this, div.data("title"), div.data("win"), div.data("lose"), div.data("draw"));
          });
        });
    = render "games", games: player_charts.lost_and_drawn_games, main_player_id: form.player.id

  .half.flexContainer
    = render "time_line_chart", chart: player_charts.elo_change_line_chart, height: 200, legend: false, type: "area"
    = render "time_line_chart", chart: player_charts.player_elo_chart, height: 200, legend: form.opponent.present?
    - if player_charts.elo_range_chart
      = render "elo_range_line_chart", chart: player_charts.elo_range_chart
    .half
      = render "stacked_bar_chart", chart: player_charts.stacked_players_chart
    .half
      = render "stacked_bar_chart", chart: player_charts.elo_delta_chart
