<div class="chart" style="width: 100%; min-height: <%= 140 + chart.categories.size * 25%>px;" id="<%= chart.object_id %>" >
</div>

<script>
Highcharts.chart('<%= chart.object_id %>', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '<%= chart.title %>'
    },
    subtitle: {
        text: '<%= chart.subtitle %>'
    },
    xAxis: {
        categories: [ <%= raw chart.categories.map{|name| "'#{name}'"}.join(",") %> ]
    },
    yAxis: {
        title: {
            text: '<%= chart.y_axis_title %>'
        },
        <% if defined?(chart.max_value) && chart.max_value %>
        max: <%=chart.max_value %>
        <% end %>
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [
        <% chart.series.each do |series| %>
        {
            name: '<%= series[0] %>',
            data: [ <%= series[1].map(&:to_s).join(", ") %> ]
        },
        <% end %>
    ]
});
</script>
