<div class="chart" style="width: 98%; min-height: <%=height%>px;" id="<%= chart.object_id %>" >
</div>

<script>
Highcharts.chart('<%= chart.object_id %>', {
    chart: {
        type: '<%= defined?(type) ? type : "spline"%>'
    },
    title: {
        text: '<%= chart.title %>',
        //margin: 0,
        style: {
            // fontSize: "13px"
        }
    },
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
            month: '%e. %b',
            year: '%b'
        }
    },
    legend: {
        enabled: <%= legend ? 'true' : 'false' %>,
        align: "right",
        layout:  "vertical",
        verticalAlign: "top",
        itemMarginTop: 5,
        itemMarginBottom: 5
    },
    yAxis: {
        title: {
            text: '<%= chart.y_axis_title %>'
        }
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
    },
    plotOptions: {
        spline: {
            marker: {
                enabled: false
            }
        }
    },
    series: [
       <% chart.series.each do |series| %>
       {
           name: '<%= series[0] %>',
           data: [
               <%#= raw series[1].map{|e| "[Date.UTC(#{e.date.year},#{e.date.month-1},#{e.date.day}),#{e.elo_delta}]"}.join(", ")  %>
               <%= raw series[1].map{|e| "[Date.UTC(#{e.date.year},#{e.date.month-1},#{e.date.day},#{e.date.hour},#{e.date.min}),#{e.elo_delta}]"}.join(", ")  %>
           ]
       },
       <% end %>
    ]
});
</script>
