- content_for :sidebar do
  = render "player_search", form: @form

- if @player_charts
  = render "fetch_button", player: @form.player
  = render "tabs"
  = render "player_charts", form: @form, player_charts: @player_charts
- else
  = render "who_are_you"
  = render "top_players"
