= render "tabs"
- content_for :sidebar do
  .search_box
    = form_with model: @form, :scope=>:form, :url=>( maps_globals_url ), method: :get, class: "form" do |f|
      .row
        .col-12
          .form-group
            %label.col-form-label.col-form-label-sm Date From
            = f.text_field :start_date, class: "form-control form-control-sm", required: true, id: "date-from",
              value: (@form.start_date && @form.start_date.strftime("%d %b %Y"))
        .col-12
          .form-group
            %label.col-form-label.col-form-label-sm Date To
            = f.text_field :end_date,   class: "form-control form-control-sm", required: true, id: "date-to",
              value: (@form.end_date && @form.end_date.strftime("%d %b %Y"))
        - if false
          .col-12
            .form-group
              %label.col-form-label.col-form-label-sm Elo From
              = f.text_field :elo_range_min, type: "number",
              class: "form-control form-control-sm"
          .col-12
            .form-group
              %label.col-form-label.col-form-label-sm Elo To
              = f.text_field :elo_range_max, type: "number",
              class: "form-control form-control-sm"
        .col-12
          .form-group
            %label.col-form-label.col-form-label-sm Minimum Games Played
            = f.text_field :minimum_number_of_games, type: "number",
            class: "form-control form-control-sm"
        .col-12
          .form-group
            %label.col-form-label.col-form-label-sm Players to Show
            = f.text_field :top_x_players, type: "number",
            class: "form-control form-control-sm"
        .col-12
          .form-group
            %button{type: "submit", class: "btn btn-primary btn-block btn-sm"}
              %i.fa.fa-search
              Search

- if @form.valid?
  .row
    - @best_on_maps.each do |chart|
      .col-lg-3.col-md-4.col-sm-12
        = render "charts/stacked_bar_chart", chart: chart
