<!DOCTYPE html>
<html>
    <head>
        <title>Unoffical Gladiabots Statistics</title>
	<meta charset="UTF-8">
	<meta name="description" content="View players gladiabot statistics and charts">
	<meta name="keywords" content="gladiabots,statistics,unofficial">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <%= javascript_include_tag 'application' %>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <script>
    Highcharts.setOptions({
        exporting: {
            printMaxWidth: 500,
            scale: 1
        },
        navigation: {
            buttonOptions: {
                symbolSize: 10,
                symbolStrokeWidth: 1,
                align: "left"
            }

        },
        title: {
            style: {
                fontSize: "16px"
            }
        },
        subtitle: {
            style: {
                fontSize: "10px"
            }
        }
    });
    </script>

    <body>
        <div class="container-fluid">
            <div class="row" >
                <% unless false && controller_name[/tournaments/] %>
                <div class="sidebar_col hidden-sm-down">
                    <%= yield :sidebar%>
                </div>
                <% end  %>
                <div class="col">
                    <div class="row" style="position: fixed; width: 100%;z-index: 1000; ">
                        <div class="col nav-header">
                            <ul class="nav nav-pills" style="padding-top: 10px; margin-bottom: 20px;">
                                <li class="nav-item">
                                    <%= link_to player_charts_url, class: "nav-link #{'active' if action_name[/player/]}"  do %>
                                        Player <span class="hidden-sm-down">Stats</span>
                                    <% end %>
                                </li>
                                <li class="nav-item">
                                    <%= link_to maps_globals_url, class: "nav-link #{'active' if controller_name[/global/]}" do %>
                                        Global <span class="hidden-sm-down">Stats</span>
                                    <% end %>
                                </li>
                                <!-- 
                                <li class="nav-item">
                                    <%= link_to "Tournaments", tournaments_url, class: "nav-link #{'active' if controller_name[/tournam/]}" %>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 70px" >
                        <div class="col">
                            <div class="hidden-md-up <%=action_name%>" style="margin-bottom: 10px;">
                            <%= yield :sidebar%>
                            </div>
                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
         <% if flash[:notice].present? %>
         toastr["success"]("", "<%=flash[:notice]%>")
         <% end %>
         <% if flash[:alert].present? %>
         toastr["error"]("", "<%=flash[:alert]%>")
         <% end %>
        $(function() {
            $(".highcharts-xaxis-labels text").click(function() {
                var name = $(this).find('title').text();
                if(!name) name = $(this).text();
                // alert($(this).find('title').text());
                location.href="<%=url_for("/")%>"+name;
            });
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        <style>
         .highcharts-xaxis-labels text:hover {
             fill: blue!important;
             cursor: pointer!important;
         }
        </style>
    </body>
</html>
